body {
	background: linear-gradient(white,#E2E5F0);
}

.header {
	height: 80px;
	background-color: #405D9B;
}

.fbLogo{
	padding-top: 1%;
}
.loginTable {
	margin-top: 2%
}
.login {
 	font-size: 12px;
}
.logPwd {
	float: left;
	margin-left: 113px;
}
.logBtn {
	padding: 1px;
    margin: 14px;
    background-color: rgb(54,88,153);
    color: white;
    font-size: 12px;
}
.leftHeading {
	color: rgb(14,56,95);
}
p {
	font-size: 11px;
}